$size : 50px;
$margin : 10px;

body {
  background: #D3D3D3;
  color: #434343;

  h1 {
    color: #333333;
  }

  .card {
    width: $size;
    height: $size;
    margin: 0 $margin $margin 0;
    display: inline-block;
    background:#fff;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
  }

  .box {
    width: $size*3+$margin*3;
  }
  
  .ng-scope {
    display: inline-block;
  }

}
